:root {
  --color-primary: #584a99;
  --color-secondary: #efe8f6;
  --color-light: #f7f7f7;
  --color-error: #f75e4b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1400px;
  margin: auto;
}

header {
  color: var(--color-primary);
  padding: 40px 0px;
}

main {
  display: flex;
  justify-content: space-between;
}

#products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 20px;
}

#card {
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  margin-bottom: 40px;
  border-radius: 15px;
  width: 320px;
}

#product-image {
  border-radius: 15px;
  width: 100%;
}

#product-info {
  border-radius: 10px;
  background-color: var(--color-secondary);
  padding: 20px;
  margin: 10px;
}

#product-name {
  color: var(--color-primary);
}

#control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#control button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: white;
  font-size: 2rem;
  color: var(--color-primary);
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#control button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
}

#cart{
  width: 450px;
}

h2{
  background-color: var(--color-primary);
  border-radius: 20px;
  width: 300px;
  height: 60px;
  /* text-align: center; */
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

#total-price{
  border:1px grey solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height:50px;
  padding: 20px;
}


#total-price span{
  color: var(--color-primary);
}

#cart-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px 0px;
  font-weight: bold;
}